<?xml version="1.0" ?>
<robot name="Matlab" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find Matlab_description)/urdf/materials.xacro" />
<xacro:include filename="$(find Matlab_description)/urdf/Matlab.trans" />
<xacro:include filename="$(find Matlab_description)/urdf/Matlab.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="-0.07720944576308394 0.043024777552925456 0.6171357608015873" rpy="0 0 0"/>
    <mass value="6.371385823482281"/>
    <inertia ixx="0.17921" iyy="0.001731" izz="0.179315" ixy="1e-06" iyz="0.000582" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Matlab_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Matlab_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

